body {
    margin: 0;
    background-color: #fbeec1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#gradientForm {
    margin: 3rem auto 0;
}

.repo {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #251f0e;
}

.title {
    color: #bc986a;
    font-family: "Roboto", "ui-sans-serif", sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.subtitle {
    color: #56452d;
    font-family: "Arial Rounded MT Bold", "ui-sans-serif", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.footer {
    align-self: flex-start;
    margin: 17rem auto 2rem;
    width: 100%;
    color: #251f0e;
    font-size: 0.9rem;
    text-align: center;
}

.footer span:not(:last-child):after {
    content: ' / ';
    display: inline;
}

.footer span a {
    text-decoration: none;
    color: #0072e5;
}

.footer span a:hover {
    text-decoration: underline;
}